[SddmGreeterTheme]
Name=AxOS
Description=AxOS's SDDM Theme
Author=Ardox
License=none
Type=sddm-theme
Version=1.0
Website=
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=lvardox@proton.me
Theme-Id=AxOS
Theme-API=2.0
